@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    --almond: #F6E9D9;
    --milk: #fffdf5;
    --moss: #889063;
    --pine:#354024;
    --seagrass: #16636D;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--milk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.carousel-bg {
  background-color: var(--milk);
}

.footer-bg {
  background-color: var(--seagrass);
}
.footer a {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

.work-card {
  flex-shrink: 0;
  text-align: left;
  width: 16em;
  min-height: 18em;
  background-color: var(--seagrass);
  color: white;
  display: flex;
  flex-direction: column;
}